<!-- Layout centrado en modo oscuro -->
<div class="flex justify-center items-center bg-gray-900 py-100">
  <!-- Panel oscuro -->
  <div class="bg-gray-900 text-white border border-white rounded-3xl p-8 w-full max-w-sm relative text-center shadow">

    <!-- Botones Steam y Discover -->
    <div class="space-y-6">
      <button  class="w-full border border-white rounded-xl py-3 text-xl font-bold text-white bg-gray-800 hover:bg-gray-700 cursor-pointer" (click)="loginWithSteam()">
        Steam
      </button>

      <p class="text-white text-base font-semibold">or</p>

      <a
        routerLink="/discover"
        class="block w-full text-center border border-white rounded-xl py-3 text-xl font-bold text-white bg-gray-800 hover:bg-gray-700"
      >
        Discover
      </a>
    </div>

  </div>
</div>
